body{
    font-family: 'Manrope', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1400px;
    background: rgb(255, 255, 255);
    padding: 125px;
}
h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -3%;
    text-align: left;
    letter-spacing: -0.03em;
}

.interior{
    margin-top: 30px;
    height: 500px;
    width: 1150px;
    background-image: url('/interior.png');
    padding-top: 379px;
    padding-left: 40px;
}

.image-text{
    width: 430px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -3%;
    text-align: left;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(18, 18, 18);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
}
p.description{
    margin-top: 30px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -3%;
    text-align: left;
}
a{
    display: inline-block;
    margin-top: 30px;
    background-color: rgb(173, 24, 24);
    padding: 20px 40px;

    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align: left;
    border-radius: 5px;
}
